fastapi
uvicorn
alembic
aiogram
filetype
groq
httpx
networkx
passlib[bcrypt]
presidio-analyzer
presidio-anonymizer
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
python-multipart
qrcode
requests
sqlalchemy
asyncpg
psycopg2-binary
structlog
tenacity
spacy
reportlab
